/* Browser and all the elements */

/* The whole browser */
body{
	margin: 0px 30%;
	background-color: grey;
}

.yellowDiv, #whiteDiv{
	text-align: center;
}




/* Yellow div elements */

/* Yellow div */
.yellowDiv{
	background-color: yellow;
}

/* The text before the input where you can guess your word*/
label{
	margin-top: 10px;
	font-size: 150%;
	float: left;
}

/* The input where the user can guess a word*/
#wordInput{
	margin-top: 13px;
	margin-right: 25%;
	float: middle;
	width: 158px;
}

/* The button "check" */
#check{
	margin: 20px 0px;
	margin-left: 40%;
	margin-right: 40%;
	padding: 5px 20px;
}




/* White div elements */

/* White div */
#whiteDiv{
	padding: 50px;
	background-color: white;
}

/* The buttons for the lingo/guessed word*/
button{  
	vertical-align: middle;
	height: 45px;
	width: 90px;
	margin: 5px;
	border: 2px solid black;
}
