/* All elements inside the browser */
#container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* Row to show the letters the user guessed */
.row{
	display: flex;
}


/* Div's to show the letter the user guessed */
.row > div{  
	padding: 20px;
	width: 100px;
	margin: 15px;
	border: 2px solid black;
	text-align: center;
}